.projects{
    position: relative;
}
.progress{
position: sticky;
top: 0;
left: 0;
padding-top: 50px;
text-align: center;
color: lightgray;
font-size: 1.2rem;
align-items: center;

}
.progress img {
    width: 40px;
    padding: 5px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    background: #1d2f7a;
}
.progress h1{
    width: 250px;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
    position: relative;
    background: linear-gradient(71deg,  #111132, #04052b,  #111132);

}
.progress .progressBar{
height: 10px;
background: linear-gradient(70deg, #0c0a0e, #1d2f7a, #0c0a0e);
}
.container-project{
display: flex;
align-items: center;
justify-content: center;
height: 100%;
padding: 50px;
}
.container-img{
position: relative;
border-radius: 30px;
}
.container-img::after,
.progress h1::after{
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: "";
    z-index: -1;
    border-radius: 20px;
    background: linear-gradient(70deg, #0c0a0e, #1d2f7a, #0c0a0e);
}

.container-project img{
width: 500px;
border-radius: 20px;

}
.text-wrapper{
  text-align: center;
  height: 250px;
  width: 500px;
margin: 30px;
}
.text-wrapper h2{
font-size: 2rem;

border-radius: 20px;
padding: 10px;
position: relative;

}
.text-wrapper p {
line-height: 2;
font-family: "Work Sans", sans-serif;
margin-bottom: 20px;
}

.text-wrapper button {
     align-items: center;
     appearance: none;
     border-radius: 24px;
     border-style: none;
    color: lightgrey;
     cursor: pointer;
     padding: 10px;
     text-align: center;
     font-size: 1rem;
     margin: 10px;
     background: linear-gradient(70deg, #0c0a0e, #1d2f7a, #0c0a0e);
     width: 120px;
     padding: 10px;
     margin-top: 10px;
     text-transform: uppercase;
     border: 1px solid #1d2f7a;
     border-radius: 50px;
     transition: all 0.3s ease 0s;

   }
   .text-wrapper button:hover{
    border-radius: 6px;
    border-color: #38598b;
    transition: all 0.3s ease 0s
   }


/*mobile*/
   @media (min-width:360px) and (max-width:935px){
 
    .container-project{
     flex-direction: column;
    }
    .text-wrapper{
        width: 100%;
        height: auto;
        margin:  10px 0;
    }
    .text-wrapper h2{
        margin-top: 20px;
    }
 .progress img{
    margin: auto;
 }
 .progress{
    position: relative;
 }
 .container-project  {
    margin-top: 100px;
    }
   }
/*landscape*/
@media (orientation: landscape) and (max-width:935){
    .progress{
        margin-bottom: 120px;
        position: relative;
    }

    .container-project  {
    margin-top: 400px;
    }

   }