@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  user-select: none;
}
html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  background-color: #0c0c1d;
  color: #e7eaf6;
}
section{
height: 100vh;
scroll-snap-align: start;
}
.scroll-home{
  width: 50px;
  height: 50px;
  position: fixed;
  background-color:  #111132;
  right: 20px;
  z-index: 10;
  bottom: 10px;
  border-radius: 50px;
  filter: drop-shadow(0 0 0.75rem  #24246b);
  color:gray;
  
}
.scroll-home:hover{
  background-color: #113f67;
}
.scroll-home img{
  width: 100%;
}
@media (min-width:360px) and (max-width:935px){
  .scroll-home{
    display: none;
  }
  html{
    scroll-snap-type: none;
  }
  section{
    height: auto;
  }
}