@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
html {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
body{
  background-color: #0c0c1d;
  color: #e7eaf6;
}
section{
  height: 100vh;
  scroll-snap-align: start;
;
}


.scroll-home{
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: #38598b;
  right: 20px;
  z-index: 999;
  bottom: 10px;
  padding: 10px;
  border-radius: 50px;
}
.scroll-home:hover{
  background-color: #113f67;
}
.scroll-home img{
  width: 100%;
}
@media (min-width:360px) and (max-width:935px){
  .scroll-home{
    display: none;
  }
  html{
    scroll-snap-type: none;
  }
}